.rate-and-author {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.comment-and-date {
    margin-left: 15px;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}

.review-item-content {
    display: flex;
}

.review-items {
    padding: 2%;
}

.review-items h4 {
    font-size: larger;
}
.author {
    height: 100%;
    border-collapse: collapse;
}
