.orders-container {
    background: white;
    margin: 16px;
    border: 2px solid gainsboro;
    padding: 16px;

    .orders-header {
        font-weight: bold;
        font-size: x-large;
        border-bottom: 2px solid gainsboro;
        margin-bottom: 25px;
        padding-bottom: 8px;
    }

    .orders-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
