.rate-and-addCart {
    display: 'flex';
    justify-content: space-between;
    column-count: 2;
    margin-top: 7px;
}

.left {
    // float: left;
    margin-right: auto;
}
.rigth {
    // float: right;
    margin-left: auto;
}
