.whole-card {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.rate-and-price {
    display: 'flex';
    column-count: 2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 0px;
}

.card-rate {
    margin-right: auto;
    float: left;
}

.card-price {
    float: right;
    p {
        color: #472836;
        font-size: x-large;
    }
}

.product-card-img-container {
}

.product-card-img {
    display: block;
    margin: auto;
    height: 200px;
    max-width: 100%;
    object-fit: contain;
    padding: 16px;
}

.card-title {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: content-box;
    height: 110px;
    overflow: hidden;

    p {
        color: #472836;
        font-size: x-large;
    }
}

.card-add-button {
    display: flex;
    gap: 4px;
    padding-bottom: 20px;
}
