.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    margin-bottom: 30px;
}

.splash-logo {
    height: 200px;
}

.trending-grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}