.login-container {
    margin: auto auto;
    margin-top: 50px;
    margin-bottom: 50px; 
    width: 30%;
    min-width: 350px;
    padding: 16px;
    border: 2px solid gainsboro;
    background-color: white;
}

.login-header {
    font-size: large;
    text-align: center;
    margin-bottom: 40px;
}