.product-info {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 6%;
    display: flex;
    flex-direction: row;
}

.product-info-props {
    margin-left: 50px;
}

.rating {
    display: flex;
    margin-bottom: 15px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-width: 300px;
    max-height: 300px;
}
