.search-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
    // margin-top: 40px;
    &-breadcrumbs {
       margin-top: 20px;
       margin-left: 20px;
    }
}

.search-page-bar {
    width: 50%;
    margin: auto;
}

.search-page-main {
    display: flex;
    gap: 20px;
}
