.search-page {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.search-page-side-panel {
    min-width: 30%;
    height: fit-content;
    position: sticky;
    top: 0;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
