.post-review-product {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    background-color: inherit;
}

.post-review-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.post-review-description {
    display: flex;
    flex-direction: column;
}
.post-review-title {
}
.post-review-short-description {
    margin-left: 0;
    margin-top: 2px;
}
.post-review-rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
}

.post-review-rate-comment {
    font-size: x-small;
    margin-left: 8px;
    margin-top: 5px;
    align-items: center;
}

.post-review-button {
    margin: auto;
}
.cart-item-picture {
    width: 100px;
    height: 100px;
}

.cart-item-picture img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.cart-item-price {
    text-align: center;
    margin: auto auto;
}
