@import '../../common.less';

.header-logo {
    float: left;
    margin-left: 20px;
    font-size: 1.9em;
    line-height: 2.1em;
    font-family: Pacifico;
}

.header {
    padding-left: 0px;
    padding-right: 0px;
    position: 'fixed';
    z-index: 1;
    width: 100%;
    background: @Eggplant;
    color: white;
    display: flex;
}

.content {
    overflow-x: auto;
}


.header-search-bar {
    flex: 0.5 0 auto;
    align-self: center;
    margin: 0 auto;
}

.header-search-bar .search-input .ant-select,
.header-search-bar .search-input .ant-select .anticon {
    color: white;
}

.header-menu {
    flex: auto 0 auto;
}

.footer {
    display: flex;
    background: black;
    color: white;
}

.footer-col {
    flex: 1 0 auto;
}

.header-customer-info {
    // float: right;
    display: flex;
    line-height: normal;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.header-customer-info-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-customer-info-details-name {
    font-weight: bold;
}

.header-customer-info-details-email {
    font-style: italic;
}

.header-customer {
    display: flex;
    padding: 5px;
    height: 100%;
    float: right;
    gap: 10px;
    align-items: center;
}

.header-customer-cart {
    color: white;
    display: flex;
    line-height: normal;
    align-items: center;
    height: 100%;
}

.header-customer-cart-icon {
    font-size: 1.5em;
}
