@import '../../common.less';

.header-logo {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2em;
}

.header {
    padding-left: 0px;
    padding-right: 0px;
    position: 'fixed';
    z-index: 1;
    width: 100%;
    background: @Eggplant;
    color: white;
}

.header-menu {
    float: right;
}

.footer {
    display: flex;
    background: black;
    color: white;
}

.footer-col {
    flex: 1 0 auto;
}

.header-customer-info {
    // float: right;
    display: flex;
    line-height: normal;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.header-customer-info-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-customer-info-details-name {
    font-weight: bold;
}

.header-customer-info-details-email {
    font-style: italic;
}

.header-customer {
    display: flex;
    padding: 5px;
    height: 100%;
    float: right;
}
