@import '~antd/dist/antd.less';

@Camel: #bf9c62;
@Champagne: #ebd494;
@Eggplant: #472836;

// html {
//   height: 100%;
// }

// .body {
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
// }

// .content {
//   flex: 1;
// }

.header-logo {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2em;
}

.header {
    padding-left: 0px;
    padding-right: 0px;
    position: 'fixed';
    z-index: 1;
    width: 100%;
    background: @Eggplant;
    color: white;
}

.header-menu {
    float: right;
}

.category-menu {
    display: flex;
    justify-content: center;
}

.category-menu__menu-item {
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    margin-bottom: 30px;
}

.splash-logo {
    height: 200px;
}

.splash__slogan {

}

.footer {
    position: sticky;
    bottom: 0;
    display: flex;
    background: black;
    color: white;
}

.footer-col {
    flex: 1 0 auto;
}

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}
