@import '~antd/dist/antd.less';
@import './common.less';

html,
body,
#root {
    min-height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.ant-rate-star-zero .ant-rate-star-first,
.ant-rate-star-zero  .ant-rate-star-second {
    color: #d5cd9a !important;
}
