name: Deploy frontend

on:
    push:
        branches: [deploy, deploy-refactor]
    pull_request:
        branches: [deploy, deploy-refactor]

jobs:
    deploy-frontend:
        name: Build Frontend
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: us-east-2

            - name: Get public ip of Frontend instance
              run: echo "AWS_INSTANCE_IP=$(aws ec2 describe-instances --filters 'Name=tag:Name,Values=instance' --query 'Reservations[0].Instances[0].PublicIpAddress' --output text)" >> $GITHUB_ENV

            - name: Echo instance public ip
              run: echo "frontend $AWS_INSTANCE_IP"

            - name: Decrypt secrets
              run: |
                gpg --batch --yes --decrypt --passphrase="$GPG_PASSWORD" --output CMPE451.pem ./secrets/CMPE451.pem.gpg
                gpg --batch --yes --decrypt --passphrase="$GPG_PASSWORD" --output slack_webhook.txt ./secrets/slack_webhook.txt.gpg
              env:
                  GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}

            - name: Set slack webhook as env
              run: echo "SLACK_WEBHOOK_URL=$(cat slack_webhook.txt)" >> $GITHUB_ENV

            - name: chmod 400 to the keypair
              run: chmod 400 CMPE451.pem

            - name: Build the Docker image
              run: docker build ecommerce/frontend -t frontend --build-arg REACT_APP_API_URL="http://${AWS_INSTANCE_IP}:8000"

            - name: Save Docker image
              run: docker save frontend | gzip > frontend.tar.gz

            - name: Check Docker image size
              run: du -h frontend.tar.gz

            - name: Reset state
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ env.AWS_INSTANCE_IP }}
                  username: ubuntu
                  key_path: CMPE451.pem
                  script_stop: true
                  script: |
                      sudo rm -rf frontend || true
                      mkdir frontend
                      sudo docker container stop frontend || true
                      sudo docker container rm frontend || true

            - name: Push Docker to EC2 - with action
              uses: appleboy/scp-action@master
              with:
                  host: ${{ env.AWS_INSTANCE_IP }}
                  username: ubuntu
                  key_path: CMPE451.pem
                  source: frontend.tar.gz
                  target: ~/frontend/

            - name: Run docker
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ env.AWS_INSTANCE_IP }}
                  username: ubuntu
                  key_path: CMPE451.pem
                  script_stop: true
                  script: |
                      cd frontend
                      sudo docker load -i frontend.tar.gz
                      sudo docker run -p 80:80 --name frontend -d frontend 

            - name: Notify slack!
              uses: rtCamp/action-slack-notify@v2
              env:
                SLACK_USERNAME: Deploy Guy
                SLACK_WEBHOOK: ${{ env.SLACK_WEBHOOK_URL }}
                SLACK_TITLE: 'Frontend deployed! :rocket:'
                SLACK_MESSAGE: ${{ env.AWS_INSTANCE_IP }}